# Health Sensor Simulator Configuration
STREAMLIT_PORT=8501
FASTAPI_PORT=8000
ALARM_ENDPOINT_URL=http://telegraf:8080/telegraf
DATA_GENERATION_INTERVAL_SECONDS=5
ANOMALY_DETECTION_METHOD=EIF
EIF_THRESHOLD=0.4
DISTANCE_THRESHOLD=3.8
LOG_LEVEL=INFO

# InfluxDB Configuration
INFLUXDB_PORT=8181
INFLUXDB_TOKEN=your-influxdb-token-here
INFLUXDB_BUCKET=health
INFLUXDB_ORG=health_org
INFLUXDB_RETENTION_PERIOD=30d
INFLUX_EXPLORER_PORT=8888

# Grafana Configuration
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=password
GRAFANA_INI=./grafana/configs/grafana.ini
GRAFANA_DASHBOARDS_CONFIG=./grafana/configs/dashboards.yaml
GRAFANA_DATASOURCES_CONFIG=./grafana/configs/datasources.yaml
GRAFANA_ALERTING_CONFIG=./grafana/configs/alerting.yaml
GRAFANA_DASHBOARDS_DIR=./grafana/dashboards
GRAFANA_CUSTOM_ICONS_DIR=./grafana/icons

# Telegraf Configuration
TELEGRAF_COLLECTION_INTERVAL=5s
TELEGRAF_CONFIG_PATH=./telegraf/telegraf.conf